<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="26px" viewBox="0 0 32 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
    <title>wishlist</title>
    <defs></defs>
    <g id="assets" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icons" transform="translate(-339.000000, -89.000000)" fill="#F9F9F9" stroke="#122F54" stroke-width="2">
            <path d="M340,98.3007476 C340,93.7163768 343.705213,90 348.275862,90 C351.045764,90 353.49782,91.3648605 355,93.4606513 C356.50218,91.3648605 358.954236,90 361.724137,90 C366.294787,90 370,93.7163768 370,98.3007476 C370,103.320742 365,108.220493 355,113 C345,108.404908 340,103.505157 340,98.3007476 C340,98.3007476 340,98.3007476 340,98.3007476 Z" id="wishlist_ico"></path>
        </g>
    </g>
</svg>