
    {%- assign product_tags = product.tags | join: ' ' -%}

    {% if product_tags contains 'meta-size-chart-' %}
      {% for tag in product.tags %}
        {% if tag contains 'meta-size-chart-' %}
          <div class="js-sizechart-lightbox" id="size-chart{{ product.id }}" style="display: none">
            <div class="size-chart-wrap">
              {%- assign size_chart = tag | handle | remove: 'meta-size-chart-' -%}
              {{ pages[size_chart].content }}
            </div>
            <div class="bottom">
              <div class="actions">
                <a class="capitalize"> {% render 'icon-pack' with icon: "fax" %} <span>print</span></a>
                <a class="capitalize"> {% render 'icon-pack' with icon: "email" %} <span>Email to friend</span></a>
              </div>
              <button type="button" data-fancybox-close="" class="button border fancybox-button" title="Close">close</button>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% elsif settings.size_chart != blank %}
      <div class="js-sizechart-lightbox" id="size-chart" style="display: none">
        <div class="size-chart-wrap">
        {{ pages[settings.size_chart].content }}
        <div class="bottom">
          <div class="actions">
            <a class="capitalize"> {% render 'icon-pack' with icon: "fax" %} <span>print</span></a>
            <a class="capitalize"> {% render 'icon-pack' with icon: "email" %} <span>Email to friend</span></a>
          </div>
          <button type="button" data-fancybox-close="" class="button border fancybox-button" title="Close">close</button>
        </div>
      </div>
    {% endif %}
  
