<a data-fancybox href="javascript:;" class="capitalize modal-btn" data-src="#quiz"> <span>quiz</span></a>
<div class="quiz-popup js-popup" id="quiz">
    <div class="heading">
        <h2 class="text-center">{{settings.quiz_title}}</h2>
    </div>
    <div class="content">
        <div class="octane-ai-quiz " data-quiz-id="LetmtTH2nLejJ7he" data-embed-type="fullpage" data-mobile-height="match_browser" data-desktop-height="match_browser"></div><script src="https://app.octaneai.com/s5jlsfej3twdpbh8/quiz.js" async defer></script>
    </div>

</div>