
    {%- assign product_tags = product.tags | join: ' ' -%}

    {% if product_tags contains 'meta-choose-chart-' %}
      {% for tag in product.tags %}
        {% if tag contains 'meta-choose-chart-' %}
          <div class="js-sizechart-lightbox" id="choose-chart{{ product.id }}" style="display: none">
            <div id="choose-chart"  class="size-chart-wrap">
              {%- assign size_chart = tag | handle | remove: 'meta-choose-chart-' -%}
              {{ pages[size_chart].content | replace: 'src', 'data-src' | replace: 'img', 'img height="500" data-sizes="auto" width="500"  class="lazyload" srcset=""' }}
            </div>
            <div class="bottom">
              <div class="actions">
                <a  onclick="printDiv('choose-chart')" class="capitalize"> {% render 'icon-pack' with icon: "fax" %} <span>print</span></a>
                {% render 'popup-email' %}
              </div>
              <button type="button" data-fancybox-close="" class="button border fancybox-button" title="Close">close</button>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% elsif settings.choose_chart != blank %}
      <div class="js-sizechart-lightbox" style="display: none">
        <div id="choose-chart"  class="size-chart-wrap">
          {{ pages[settings.choose_chart].content | replace: 'src', 'data-src' | replace: 'img', 'img height="500" data-sizes="auto" width="500"  class="lazyload" srcset=""' }}
        </div>
        <div class="bottom">
          <div class="actions">
            <a  onclick="printDiv('choose-chart')" class="capitalize"> {% render 'icon-pack' with icon: "fax" %} <span>print</span></a>
            {% render 'popup-email' %}
          </div>
          <button type="button" data-fancybox-close="" class="button border fancybox-button" title="Close">close</button>
        </div>
      </div>
    {% endif %}



    {% if settings.choose_wig_chart != blank %}
      <div class="js-sizechart-lightbox" style="display: none">
        <div id="choose-wig-chart"  class="size-chart-wrap">
          {{ pages[settings.choose_wig_chart].content | replace: 'src', 'data-src' | replace: 'img', 'img height="500" data-sizes="auto" width="500"  class="lazyload" srcset=""' }}
        </div>
        <div class="bottom">
          <div class="actions">
            <a  onclick="printDiv('choose-wig-chart')" class="capitalize"> {% render 'icon-pack' with icon: "fax" %} <span>print</span></a>
            {% render 'popup-email' %}
          </div>
          <button type="button" data-fancybox-close="" class="button border fancybox-button" title="Close">close</button>
        </div>
      </div>
    {% endif %}