<div class="js-sizechart-lightbox" id="size-chart{{ product.id }}" style="display: none">
  <div class="size-chart-wrap">
    {%- assign product_tags = product.tags | join: ' ' -%}

    {% if product_tags contains 'meta-size-chart-' %}
      {% for tag in product.tags %}
        {% if tag contains 'meta-size-chart-' %}
          {%- assign size_chart = tag | handle | remove: 'meta-size-chart-' -%}
          {{ pages[size_chart].content }}
        {% endif %}
      {% endfor %}
    {% elsif settings.size_chart != blank %}
      {{ pages[settings.size_chart].content }}
    {% endif %}
  </div>
  <div class="bottom">
    <div class="actions">
      <a class="capitalize"> {% render 'icon-pack' with icon: "fax" %} <span>print</span></a>
      <a class="capitalize"> {% render 'icon-pack' with icon: "email" %} <span>Email to friend</span></a>
    </div>
    <a class="button border close">close</a>
  </div>
</div>
