{% if article != blank %}
    {% assign email_product = all_products[article.metafields.global.email_product] %}
{% elsif page.id != blank %}
    {% assign email_product = all_products[page.metafields.global.email_product] %}
{% elsif product != blank %}
    {% assign email_product = product %}
{% endif %}

{% if email_product != blank %}
<a data-fancybox href="javascript:;" class="capitalize modal-btn" data-src="#email_friend"> {% render 'icon-pack' with icon: "email" %} <span>Email to friend</span></a>
{% endif %}

<div class="email_friend js-popup" id="email_friend" style="display: none;">
    <div class="heading">
        <h2 class="text-center">{{settings.email_title}}</h2>
    </div>
    <div class="content">
        <div class="form">
            {formbuilder:49115}
        </div>
        <div class="image">
            {% render 'image-element' with 
                image: email_product.featured_image,
                alt: email_product.featured_image.alt,
            %}
            <p>{{email_product.title}}</p>
        </div>
    </div>
</div>
