<?xml version="1.0" encoding="UTF-8"?>
<svg width="23px" height="34px" viewBox="0 0 23 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
    <title>40366212-D180-476C-991B-03D5F37C9183</title>
    <desc>Created with sketchtool.</desc>
    <defs></defs>
    <g id="assets" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icons" transform="translate(-610.000000, -83.000000)" stroke="#A83A86" stroke-width="2">
            <g id="offer" transform="translate(611.000000, 84.000000)">
                <g id="offer_ico">
                    <ellipse id="Ellipse" cx="10.037758" cy="10" rx="10.037758" ry="10"></ellipse>
                    <path d="M10.880993,6.32915257 L11.2580435,7.09026659 C11.549949,7.67950697 12.1128536,8.0876077 12.7636511,8.18181843 L13.6131391,8.30479199 C14.124626,8.37883584 14.4792437,8.85350232 14.4051998,9.36498925 C14.3756041,9.56943319 14.2791915,9.75833859 14.1309946,9.90225145 L13.5231961,10.4924799 C13.0496841,10.9523038 12.8335301,11.61614 12.9455156,12.2666098 L13.0886706,13.0981279 C13.1765658,13.6086688 12.8339438,14.0937971 12.3234029,14.1816923 C12.1203946,14.2166425 11.9115262,14.1837942 11.7290452,14.0882192 L10.9656712,13.6883993 C10.3844916,13.3840043 9.69097853,13.3840043 9.10979888,13.6883992 L8.34642444,14.0882192 C7.88750752,14.3285785 7.3206321,14.1514026 7.08027276,13.6924857 C6.98469771,13.5100047 6.95184954,13.3011364 6.98679971,13.0981281 L7.12995485,12.2666102 C7.24194051,11.6161406 7.02578674,10.9523044 6.55227493,10.4924804 L5.94447613,9.90225128 C5.57371046,9.54220336 5.56502202,8.94976189 5.92506994,8.57899622 C6.06898288,8.43079935 6.25788834,8.33438678 6.46233232,8.30479109 L7.31182009,8.18181766 C7.96261772,8.08760699 8.52552247,7.67950619 8.817428,7.09026569 L9.19447797,6.32915261 C9.42519147,5.86343434 9.98976097,5.67292534 10.4554792,5.90363884 C10.6400662,5.99508188 10.7895499,6.14456565 10.880993,6.32915257 Z" id="Star"></path>
                    <polyline id="New-shape" points="3.01132741 20 3.01132741 30.9999941 10.4075696 27.1923093 17.0641886 31 17.0641886 20.0000041"></polyline>
                </g>
            </g>
        </g>
    </g>
</svg>