{% if settings.thumbnail_hover_enabled or settings.quick_shop_enabled and settings.quick_shop_style == 'popup' %}
  <div class="thumbnail-overlay">
    <div class="info">
      {% for tag in product.tags %}
        {% if tag contains 'BTL:' %}
          {% assign by_this_look_status = true  %}
        {% endif %}
      {% endfor %}
      {% if settings.quick_shop_enabled and settings.quick_shop_style == 'popup' %}
        {% unless template contains 'product'  %}
          {% render 'buy-this-look-button', product: product %}
        {% else %}
          {% render 'sidebar-quick-shop-button', product: product, r_variant: variant %}
        {% endunless %}
      {% endif %}
    </div>
  </div>
{% endif %}

<div class="banner_holder">
  {% if product.available %}
    {% if settings.sale_banner_enabled and product.compare_at_price > product.price %}
      <div class="sale_banner thumbnail_banner">
        {{ 'collections.general.sale' | t }}
      </div>
    {% endif %}
  {% endif %}

  {% if collection_handles contains 'new' %}
    <div class="new_banner thumbnail_banner">
      {{ 'collections.general.new' | t }}
    </div>
  {% endif %}

  {% if collection_handles contains 'pre-order' %}
    <div class="preorder_banner thumbnail_banner">
      {{ 'collections.general.pre_order' | t }}
    </div>
  {% endif %}
</div>
