$(document).ready(function() {
  $('.promotion-slider').flickity({
    pageDots: true,
    imagesLoaded: true,
    arrowShape: arrowSize,
    lazyLoad: 2,
    wrapAround: true
  });

  $('.static-colors').each(function () {
    var swatch_section = $(this);
    var swatch_elements = swatch_section.find('.swatch-element');
    swatch_elements.each(function () {
      var label = $(this).find('label');
      var bg = label.css('background-image');
          bg = bg.replace('url(','').replace(')','').replace(/\"/gi, "");
      console.log(bg);
      var image = `<img class="lazyload" data-src="${bg}"><span>${$(this).find('.tooltip').text()}</span>`;
      var tooltip = $(this).find('.tooltip').html(image);
    })
   
  })

  $(document).on('click', '.email_friend_btn', function (e) {
    e.preventDefault();
    var email_product_data = {
      "image": $(this).data('product_image'),
      "title": $(this).data('product_title'),
      "price": $(this).data('product_price'),
      "description": $(this).data('product_description'),
      "link": $(this).data('product_link')
    }
    console.log(email_product_data)
    $.fancybox.open($('#email_friend'), {
      hash: false,
      infobar : false,
      toolbar: false,
      loop: false,
      smallBtn : true,
      video: {
        autoStart: false
      },
      touch: false,
      mobile: {
        preventCaptionOverlap: false,
        toolbar: true,
        buttons: [
          "close"
        ]
      },
      afterLoad: function(){
        var html = `${email_product_data.image}//split//${email_product_data.title}//split//${email_product_data.price}//split//${email_product_data.link}//split//${email_product_data.description}`;
        console.log(html)
        console.log($('.fancybox-content').find('#49115-textarea-2'));
        $(document).find('.fancybox-content textarea#49115-textarea-2.flat-input').val(html);
        $(document).find('.fancybox-content textarea#49115-textarea-2.flat-input').parent().hide()
      },
      afterShow: function(){

      },
      beforeClose: function(){

      }
    })
  })
  $(document).on('click', '.email_friend .content .form .globo-form-app form .footer .description p', function (e) {
    e.preventDefault();
    $.fancybox.close();
  })

  $('.image-text-slider').flickity({
      pageDots: false,
      imagesLoaded: true,
      arrowShape: arrowSize,
      lazyLoad: 2,
      cellAlign: 'left',
      wrapAround: true,
      adaptiveHeight: true
  });

  $('.report-popup-button').click(function (e) {
    e.preventDefault();
    $('.report-popup-content').addClass('active');
    $('.report-container').addClass('active');
    $('body').toggleClass('blocked-scroll');
  })

  $('.report-popup-content .cancel').click(function (e) {
    e.preventDefault();
    $('.report-container').removeClass('active');
    $('.report-popup-content').removeClass('active');
    $('body').removeClass('blocked-scroll');
  })
  

  $('.shopify-section--product-sidebar .js-product_sidebar .content').flickity({
    draggable: false,
    percentPosition: false,
    groupCells: "100%",
    pageDots: false,
    contain: true,
    cellAlign: 'left'
  });

  $('.shopify-section--product-sidebar .recommend_link a').on('click', function (e) {
    e.preventDefault();
    location = $(this).attr('href');
  })

 
  $('[data-src="#quiz-popup"]').fancybox({
    afterClose : function(instance, current) {
        $('#quiz-popup').html(`
          <div class="heading">
          <h2 class="text-center">${Shopify.theme_settings.quiz_title}</h2>
          </div>
          <div class="content">
          <div class="octane-ai-quiz " data-quiz-id="DDgbaY7qA9LwoEQy" data-embed-type="fullpage" data-mobile-height="match_browser" data-desktop-height="match_browser"></div><script src="https://app.octaneai.com/s5jlsfej3twdpbh8/quiz.js" async defer></script>
          </div>
        `);
    }
  });
  
  $('#quiz-popup').on('click','[data-element="oct-quiz-btn oct-quiz-media"]', function (e) {
    e.preventDefault();
    $('.fancybox-slide #quiz-popup').html(`
      <div class="heading">
      <h2 class="text-center">${Shopify.theme_settings.quiz_title}</h2>
      </div>
      <div class="content">
      <div class="octane-ai-quiz " data-quiz-id="DDgbaY7qA9LwoEQy" data-embed-type="fullpage" data-mobile-height="match_browser" data-desktop-height="match_browser"></div><script src="https://app.octaneai.com/s5jlsfej3twdpbh8/quiz.js" async defer></script>
      </div>
      <button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
    `);
    console.log("asdfasdf");
  });

  $(document).on('click','.page [data-element="oct-quiz-btn oct-quiz-media"]', function (e) {
    e.preventDefault();
    location.reload();
  })

  if ($(window).width() < 1024) {
    $('.sidebar-toggle-btn').on('click', function(e){
      e.preventDefault();
      $('.sidebar').toggleClass('active');
    })
    $('.featured-collection-slider').flickity({
      pageDots: true,
      imagesLoaded: true,
      arrowShape: arrowSize,
      lazyLoad: 2,
      cellAlign: 'left',
      wrapAround: true
    });

    $('#shopify-section-featured-product .product-list').flickity({
      pageDots: true,
      imagesLoaded: true,
      arrowShape: arrowSize,
      lazyLoad: 2,
      cellAlign: 'left',
      wrapAround: true
    });

    $('#banner-image-with-text-overlay .thumbnails').flickity({
      pageDots: true,
      imagesLoaded: true,
      arrowShape: arrowSize,
      lazyLoad: 2,
      cellAlign: 'left',
      wrapAround: true
    });
    $('.shopify-section--product-template .product__info .product_form .swatch_options .color .enlarge-content').each(function (e) {
      var document_width = $(document).width();
      var popup_width = 264;
      var popup_position = $(this).offset().left;
      
      if ((popup_position+popup_width) > document_width) {
        var left_position = popup_position+popup_width - document_width;
        console.log(left_position)
        $(this).css({
          left: -(left_position)
        })
      }
    });
  } else {
    $('.shopify-section--product-template .product__info .product_form .swatch_options .color .enlarge-content').each(function (e) {
      var document_width = $(document).width();
      var popup_position = $(this).offset().left + 140;
      console.log(popup_position)
      console.log(document_width)
      if (popup_position > document_width) {
        var left_position = popup_position - document_width;
        
        $(this).css({
          right: 25 + left_position
        })
      }
    });
  }

  

  // $(document).on('mouseleave', '.shopify-section--product-template .product__info .product_form .swatch', function (e) {
  //   $('.product__images .product-main-gallery .gallery-hover-image').removeClass('active')
  // });

  $('.dropdown_container .dropdown--header .close').on('click', function (e) {
    e.preventDefault();
    $(this).parent().parent().removeClass('active');
    $('body').removeClass('is-active');
    $('.mobile_nav div').removeClass('open')
  })

  $('.shopify-section--search-template .tabs li a').on('click', function (e) {
    e.preventDefault();
    var index = $(this).data('active_case');
    $('.shopify-section--search-template .search-matrix').removeClass('page-show').removeClass('product-show');
    $('.shopify-section--search-template .search-matrix').addClass(index);
  });

  $('.checkbox').click(function () {
    var checkBoxes = $(this).find('input');
    checkBoxes.prop("checked", !checkBoxes.prop("checked"));
  });

  $('#create_customer .action_bottom .button').on('click', function (e) {
    e.preventDefault();
    var password = $('input.password').val();
    var confirm = $('input.confirm').val();
    if (password == confirm) {
      $('#create_customer').submit();
    } else {
      var error = `<div class="errors"><ul><li>Please confirm your password.</li></ul></div>`;
      $('div#first_name').before(error);
    }
  });

  $('.sidebar-menu .select-box').on('click',function(){
    $(this).next('ul').slideToggle(280);
  });
  $(document).on('click', '.choose_chart_btn', function (e) {
    e.preventDefault();
    $.fancybox.close();
    $.fancybox.open($('#choose-chart'), {
      touch: false
    })
  })

  $(document).on('click', '.size_chart_btn', function (e) {
    e.preventDefault();
    $.fancybox.close();
    $.fancybox.open($('#size-chart'), {
      touch: false
    }) 
  })

  $(document).on('click', '.sidebar-filter-heading .close', function (e) {
    e.preventDefault();
    $('.sidebar').removeClass('active');
  })

  $(document).on('click', '.recommend_product_section .close', function (e) {
    e.preventDefault();
    $('.recommend_product_section').hide();
  })
  
});
var print_status = false;
function printDiv(divName) {
  console.log(print_status);
  if ($(window).width() > 768) {
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;
    var mywindow = window.open('', 'PRINT', 'height=660,width=1000');
    mywindow.document.write('<html><head><title>' + document.title  + '</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<h1>' + document.title  + '</h1>');
    mywindow.document.write(printContents);
    mywindow.document.write('</body></html>');
    mywindow.document.close();
    mywindow.focus();
    mywindow.print();
    mywindow.onafterprint = function(event){
      console.log("Printing completed...");
      mywindow.close();
      console.log("asdfasd")
    }
  } else {
    if (print_status == false) {
      var printContents = document.getElementById(divName).innerHTML;
      var originalContents = document.documentElement.innerHTML;
      window.document.write('<html><head><title>' + document.title  + '</title>');
      window.document.write('</head><body >');
      window.document.write('<h1>' + document.title  + '</h1>');
      window.document.write(printContents);
      window.document.write('</body></html>');
      window.document.close();
      window.print();
      document.getElementsByTagName("BODY")[0].onafterprint = function(event){
        console.log("Printing completed...");
        window.document.write(originalContents);
        window.document.close();
        console.log("asdfasd")
      }
      print_status = true;
    } else {
      window.location.reload();
    }
    
  }
  
}

function doneyet() { 
  console("after print dialog"); 
} 