$(document).ready(function() {
  $('.promotion-slider').flickity({
    pageDots: true,
    imagesLoaded: true,
    arrowShape: arrowSize,
    lazyLoad: 2,
    wrapAround: true
  });

  $(document).on('click', '.email_friend .content .form .globo-form-app form .footer .description p', function (e) {
    e.preventDefault();
    $.fancybox.close();
  })

  $('.image-text-slider').flickity({
      pageDots: false,
      imagesLoaded: true,
      arrowShape: arrowSize,
      lazyLoad: 2,
      cellAlign: 'left',
      wrapAround: true,
      adaptiveHeight: true
  });

  $('.shopify-section--product-sidebar .recommend_link').flickity({
    draggable: false,
    percentPosition: false,
    groupCells: "100%",
    pageDots: false,
    contain: true,
    cellAlign: 'left'
  });

  $('.shopify-section--product-sidebar .recommend_link a').on('click', function (e) {
    e.preventDefault();
    location = $(this).attr('href');
  })



  if ($(window).width() < 768) {
    $('.sidebar-toggle-btn').on('click', function(e){
      e.preventDefault();
      $('.sidebar').toggleClass('active');
    })
    $('.featured-collection-slider').flickity({
      pageDots: true,
      imagesLoaded: true,
      arrowShape: arrowSize,
      lazyLoad: 2,
      cellAlign: 'left',
      wrapAround: true
    });

    $('#banner-image-with-text-overlay .thumbnails').flickity({
      pageDots: true,
      imagesLoaded: true,
      arrowShape: arrowSize,
      lazyLoad: 2,
      cellAlign: 'left',
      wrapAround: true
    });
  }

  $('.shopify-section--search-template .tabs li a').on('click', function (e) {
    e.preventDefault();
    var index = $(this).data('active_case');
    $('.shopify-section--search-template .search-matrix').removeClass('page-show').removeClass('product-show');
    $('.shopify-section--search-template .search-matrix').addClass(index);
  });

  $('.checkbox').click(function () {
    var checkBoxes = $(this).find('input');
    checkBoxes.prop("checked", !checkBoxes.prop("checked"));
  });

  $('#create_customer .action_bottom .button').on('click', function (e) {
    e.preventDefault();
    var password = $('input.password').val();
    var confirm = $('input.confirm').val();
    if (password == confirm) {
      $('#create_customer').submit();
    } else {
      var error = `<div class="errors"><ul><li>Please confirm your password.</li></ul></div>`;
      $('div#first_name').before(error);
    }
  });

  $('.sidebar-menu .select-box').on('click',function(){
    $(this).next('ul').slideToggle(280);
  });
  $(document).on('click', '.choose_chart_btn', function (e) {
    e.preventDefault();
    $.fancybox.close();
    $.fancybox.open($('#choose-chart'), {
      touch: false
    })
  })

  $(document).on('click', '.size_chart_btn', function (e) {
    e.preventDefault();
    $.fancybox.close();
    $.fancybox.open($('#size-chart'), {
      touch: false
    }) 
  })
  
});

